# Virtual environments
.venv/
venv/
env/

# Python caches
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environment and secrets
.env

# OS files
.DS_Store

# Editors
.vscode/
.idea/